<html>

<body>
<div>
    <center>
    <form method="post">
        <input type="text" name="author" placeholder="Author" />
        <input type="text" name="bookName" placeholder="Book Name" />
        <input type="text" name="description" placeholder="Description" />
        <input type="number" name="price" placeholder="Book Price">
        <button type="submit">Add</button>
    </form>
    </center>
</div>
</form>
<center>
    <h1>Range of Books</h1>
{{#books}}
    <div>
        <b>{{author}}</b>
        <b>{{bookName}}</b>
        <span>{{description}}</span>
        <i>{{price}}</i>
        <form method="DELETE" action="books/{{id}}/delete">

        </form>
    </div>
{{/books}}
</center>
</body>
</html>
</body>
</html>